nav {
	border-radius: 0px !important;
}

div#carousel-header {
	height: 250px;
}

div.carousel-inner, .item {
	height: 100%;
}

div.carousel-inner div.item img {
	width: 100%;
	height: auto;
}

.page-content {
	margin-top: 10px;
}

.nomargin {
	margin: 0!important;
}

.navbar-padding {
	margin-top: 80px !important;
}

.footer {
	border-top: solid 1px;
	margin-top: 40px;
	padding: 20px;
}

.footpart {
	text-align: center;
}

.error {
	max-width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.table-align tbody>tr>td {
	vertical-align: middle !important;
}

.table-align tbody>tr {
	cursor: pointer;
}

.collapsing {
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	transition: width 2s, height 2s, transform 2s;
}

.navbar-btn {
	margin-right: 0.5em;
}

td.trainingName {
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* bootstrap table overflow fix */
.table-responsive {
	width: 100%;
	margin-bottom: 15px;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	border: 1px solid #ddd
}

/* Pour les selects du plugin chosen
* Permet de leur donner un m�me style que pour les autres inputs
*/
.chosen-container>ul {
	border-width: 2px;
	box-shadow: none !important;
	margin: 0;
	font: inherit;
	border-radius: 4px !important;
	border: 2px solid #dce4ec !important;
	min-height: 43px !important;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.chosen-container {
	min-height: 34px !important;
	font-size: 14px !important;
	background-image: none !important;
}

.chosen-container-active>ul {
	border-color: #2c3e50 !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-style: hidden !important;
}

.chosen-container-active>div.chosen-drop {
	border: 2px solid #2c3e50 !important;
}

.chosen-drop, .chosen-single, .chosen-choices {
	border-radius: 0px !important;
	border-color: rgb(204, 204, 204) !important;
	box-shadow: none;
}

.search-choice-close, .chosen-single, .chosen-choices, .chosen-single div
	{
	padding-top: 5px !important;
}

.chosen-single abbr {
	margin-top: 5px !important;
}

.chosen-container>ul>li>input {
	padding: 0px 12px !important;
}

.chosen-container {
	width: 100% !important;
}

ul.chosen-choices li.search-choice {
	padding-top: 0px !important;
	border-radius: 0px !important;
}

ul.chosen-choices li.search-choice a.search-choice-close {
	top: 0px !important;
}

/* Pour le tableau de résultats
*/
tr.tr-dark {
	background-color: #f0f0f0;
}

tr.tr-light {
	background-color: #f9f9f9;
}

th {
	text-align: center;
}

/* Page d'admin
*/
.color-blue {
	background-color: #aaffff;
}

.color-red {
	background-color: #ffaaaa;
}

.color-green {
	background-color: #aaffaa;
}

.color-yellow {
	background-color: #ffffaa;
}

.color-darkblue {
	background-color: #aaaaff;
}

.fakejumbo {
	width: 100%;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.jumbotron {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.paddingugly {
	padding-right: 0 !important;
}

dt {
	float: left;
	clear: left;
	min-width: 100px;
	font-weight: bold;
	color: #9b9b9b;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

dd {
	margin: 0 0 10px 140px;
}

.jumbotron {
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.level {
	font-size: 20px;
	border-radius: 3px;
	color: white;
	margin-left: 10px;
	padding: 2px;
}

.level-1 {
	background: #5c903d;
}

.level-2 {
	background: #9c2873;
}

.level-3 {
	background: #219a89;
}

.level-4 {
	background: #ffb001;
}

.level-5 {
	background: #9d2b2a;
}

.level-6 {
	background: #8c4704;
}

.level-9 {
	background: #aaa;
}

.span6 {
	margin-left: 0;
	float: left;
}

ul.sap {
	list-style-image: url('https://training.sap.com/img/bullet-one.png');
}

textarea {
	min-height: 60px;
	overflow-y: auto;
	word-wrap: break-word
}

input {
	display: block;
	float: left;
}

.fa-side {
	height: 25px;
	float: left;
}