nav {
	border-radius: 0px !important;
}

div#carousel-header {
	height: 250px;
}

div.carousel-inner, .item {
	height: 100%;
}

div.carousel-inner div.item img {
	width: 100%;
	height: auto;
}

.page-content {
	margin-top: 10px;
}

.navbar-padding {
	margin-top: 80px !important;
}

.footer {
	border-top: solid 1px;
	margin-top: 40px;
	padding: 20px;
}

.footpart {
	text-align: center;
}

.error {
	max-width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.table-align tbody>tr>td {
	vertical-align: middle !important;
}

.table-align tbody>tr {
	cursor: pointer;
}

.collapsing {
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	transition: width 2s, height 2s, transform 2s;
}

.navbar-btn {
	margin-right: 0.5em;
}

td.formationName {
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}