nav {
	border-radius: 0px !important;
}

div#carousel-header {
	height: 250px;
}

div.carousel-inner, .item {
	height:100%;
}

div.carousel-inner div.item img {
	width:100%;
	height:auto;
}

.page-content {
	margin-top:10px;
}
.navbar-padding {
	margin-top:80px!important;
}